body{
	font-family: "Marker Felt","Comic Sans MS", fantasy;
	color:black;
       }

h1 {
	font-size: 1.3em;
	text-align:center;
     }

table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	border: 1px solid #ffffffff;
	text-align:center;
	background-color:#9FB6CD; 
    }

th {
	text-align:center;
	color:black;
	background-color:#003366;
   }
